@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* -webkit-font-smoothing: antialiased; */
  /* max-width: 1920px; */
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Chronicle Display";
  src: url("./assets/fonts/Chronicle-Display-Semibold.woff") format("woff");
  font-weight: 600; /* Semibold */
  font-style: normal;
}
